@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=DM+Sans&family=Open+Sans&family=Raleway:wght@500;700&family=Source+Sans+Pro&display=swap');

:root{
    --main-font:'Open Sans', sans-serif;
    --second-font:'DM Sans', sans-serif;
    --main-color:#101C45;
}

body{
    background-color: whitesmoke;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
nav{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}