@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=DM+Sans&family=Open+Sans&family=Raleway:wght@500;700&family=Source+Sans+Pro&display=swap');

:root{
    --main-color:#101C45;
    --second-color:#FFFFFF;
    --last-color:#FFFFFFCC;

    --main-font:'DM Sans', sans-serif;
    --heading-font:'Source Sans Pro', sans-serif;
}
body{
    background-color: var(--last-color);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
.navbar{
margin-top: 70px;
display: flex;
justify-content: space-between;
margin: auto;
}
 .navbar .nav-wrapper{
    max-width: 1500px;
    display: flex;
    gap: 100px;
    align-items: center;
    text-align: center;
}
.logo-docter{
    display: flex;
    gap: 20px;
    width: 300px;
    height: 90px;
    align-items: center;
    margin: auto;
    margin-left: 80px;

}
 .nav-wrapper .logo-docter img{
    width: 70px;
    border-radius: 20px;
}
.nav-wrapper .logo-docter p{
    font-size: 30px;
    font-family: var(--main-font);
    font-weight: 700;
    color: var(--main-color);
}

.menu .menu-wrapper{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 300px;
    margin: auto;
    align-items: center;
}
.menu-wrapper .menu-link{
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
}
.menu-wrapper .menu-active{
    font-family: var(--main-font);
    font-weight: 700;
    font-family: var(--main-font);
    font-size: 20px;
}
.navbar .btn-login{
    display: flex;
    justify-content: space-around;
    width: 350px;
    gap: 15px;
    background-color: white;
}
.btn-login{
    align-items: center;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
    font-family: var(--heading-font);
    color: var(--main-color);

}
.btn-login .book{
    padding: 20px 30px;
    border: 2px solid rgb(38, 38, 88);
}
/* explain start */
.explain{
    display: flex;
    margin: auto;
}
.explain,.explain-wrapper{
    display: flex;
    justify-content: space-between;
}
.explain-wrapper .row1-explain{
    margin: auto;
    margin: auto;
    align-items: center;
    margin-left: 80px;
}
.row1-explain .heading-explain{
    font-size: 48px;
    font-weight: 700;
    font-family: var(--main-font);
    color: #101C45;
    width: 500px;
}
.row1-explain .subheading{
    font-weight: 400;
    font-size: 20px;
    font-family: var(--main-font);
    color: #101C45;
    margin-top: 30px;
    width: 500px;
    
}
.row1-explain .btn-box1{
    background-color: #101C45;
    margin-top: 40px;
    padding: 30px 30px;
    align-items: center;
    width: 250px;

}
.btn-box1 a{
    font-size: 20px;
    color: white;
    font-family: var(--heading-font);
    font-weight: 400;
    text-align: center;
}
.row2-explain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.row2-explain .img-profile{
    margin: auto;
    background-color: #c7c9d230;

}
.img-profile{
    border-radius: 30px;
    width: 400px;
}
.img-profile .docter{
    display: flex;
}

.docter{
    display: flex;
    justify-content: space-between;
}
.docter .docter1{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 30px;
    width: 150px;
    margin-left: 25px;
}
.docter1 img{
    width: 40px;
}
.docter1 p{
    font-size: 15px;
    font-family: var(--heading-font);
    font-weight: 600;
    color: black;
}
.docter i{
    margin-top: 30px;
    font-size: 25px;
    color: rgba(74, 70, 70, 0.573);
    margin-right: 20px;
}
.img-profile .subheading-docter{
    width: 350px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 25px;
}
 .docter-wrapper{
    background-color: aquamarine;
     display: flex;
     clip-path: polygon(28% 0, 98% 0, 75% 100%, 0% 100%);
     margin-left: -100px;
     padding: 50px 60px;
}
.docter-wrapper img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -30px;
    text-align: center;
}


/* footer start */
.footer{
    display: flex;
    justify-content: space-between;
}
.footer .footer-wrapper{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #101C45;
    margin-left: 70px;
    padding: 50px 100px;
    border: 10px solid var(--main-color);
    gap: 40px;
}
.footer-wrapper .footer-1{
    align-items: center;
}
.footer-1 .section-1{
    display: flex;
    gap: 20px;
}
.section-1 i{
    font-size: 50px;
    color: #FFFFFF;
}
.section-1 h1{
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    color: white;
}
.footer-1 p{
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 16px;
    margin-left: 70px;
    padding: 15px 8px;
    color: rgb(218, 210, 210);
}
.footer-wrapper .footer-2{
    align-items: center;
}
.footer-2 .section-2{
    display: flex;
    gap: 20px;
}
.section-2 i{
    font-size: 50px;
    color: #FFFFFF;
}
.section-2 h1{
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    color: white;
}
.footer-2 p{
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 16px;
    margin-left: 70px;
    padding: 15px 8px;
    color: rgb(218, 210, 210);
}
.footer-wrapper .footer-3{
    align-items: center;
}
.footer-3 .section-3{
    display: flex;
    gap: 20px;
}
.section-3 i{
    font-size: 50px;
    color: #FFFFFF;
}
.section-3 h1{
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 20px;
    margin-top: 10px;
    color: white;
}
.footer-3 p{
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 16px;
    margin-left: 70px;
    padding: 15px 8px;
    color: rgb(218, 210, 210);
}







/* footer end */
   
.row1-explain{
    flex: 0 0 50%;
}
.row2-explain{
    flex: 0 0 50%;
}

/* explain end */


